<!DOCTYPE html>
<html lang="tr">
  <head>
    <%- include('../partials/head.ejs') %>
  </head>
  <body>
    <%- include('../partials/navbar.ejs') %>
    <main class="w-9/12 mx-auto flex justify-between gap-5">
      <section class="w-1/5">
        <aside class="flex flex-col items-center border-b-l border-b-r rounded">
          <%- include('./partials/aside.ejs', {categories, id}) %>
        </aside>
      </section>
      <section class="w-4/5 flex flex-col items-center gap-5">
        <h1 class="text-3xl font-semibold mb-3"><%= title %></h1>
        <% blogs.forEach((blog) => { %> <%- include('./partials/article.ejs', blog) %> <% }); %>
      </section>
    </main>
  </body>
</html>